<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/images/logo-b.png" alt="">
                </div>

                <h1 class="text-center"><b>Login Here</b></h1>


                <form (ngSubmit)="formSubmit()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input [(ngModel)]="ldata.username" name="username" matInput placeholder="*******" required>
                        <!-- <mat-hint style="color: red;" *ngIf="validateUsername()==false">Username should be strong!!!</mat-hint> -->
                    </mat-form-field>

                    <br>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input  type="password" [(ngModel)]="ldata.password" name="password" matInput placeholder="*******" required>
                        <!-- <mat-hint style="color: red;" *ngIf="validatePassword()==false">Password should be strong, alphanumeric & long!!!</mat-hint> -->
                    </mat-form-field>


                    <div class="container text-center">
                        <button type="submit" style="width: 100%; border-radius: 18px" mat-raised-button color="primary">Login</button>
                        <button style="margin-top: 15px; width: 100%; border-radius: 18px" mat-raised-button color="accent">Clear</button>
                    </div>
                </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>