<mat-card>
    <mat-action-list>
        <div mat-subheader style="padding-left: 35px; margin-bottom: 30px !important; padding-top: 30px !important;">
            <img style="height: 70px;" src="../../../../assets/images/logo-b.png" alt="">
        </div>
        <button mat-list-item routerLink="/admin"><mat-icon class="sidebar-mi" mat-list-icon>home</mat-icon> Home</button>
        <button mat-list-item routerLink="/admin/profile"><mat-icon class="sidebar-mi" mat-list-icon>account_circle</mat-icon> Profile</button>
        <button mat-list-item routerLink="/admin/categories"><mat-icon class="sidebar-mi" mat-list-icon>list</mat-icon> Categories</button>
        <button mat-list-item routerLink="/admin/add-category"><mat-icon class="sidebar-mi" mat-list-icon>category</mat-icon>Add Category</button>
        <button mat-list-item routerLink="/admin/quizzes"><mat-icon class="sidebar-mi" mat-list-icon>quiz</mat-icon> Quizzes</button>
        <button mat-list-item routerLink="/admin/add-quiz"><mat-icon class="sidebar-mi" mat-list-icon>add_circle_outline</mat-icon>Add Quiz</button>
        <button mat-list-item routerLink="/admin/profile"><mat-icon class="sidebar-mi" mat-list-icon>logout</mat-icon>Logout</button>
    </mat-action-list>
</mat-card>